<!DOCTYPE html>
<!-- saved from url=(0019)http://pluskid.org/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
	  <title><%= config.title %></title>
	  
	  <link rel="stylesheet" href="./css/style.css">
	  <script async="" src="<%= config.root %>js/analytics.js"></script>
    <script src="<%= config.root %>js/jquery.min.js"></script>
	  <script src="<%= config.root %>js/google-analytics.js"></script>
</head>

<body>
    <div class="content index-page">
        <div id="nav">
            <ul>
                <li><a href="<%= config.root %>">Blog</a></li>
                <li><a href="<%= config.root %>about.html">About</a></li>
                <li><a href="<%= config.root %>projects">Projects</a></li>
         
                <li><a href="<%= config.root %>resume/resume.pdf">Resume</a></li>
            </ul>
            <!--<script src="<%= config.root %>js/nav.js"></script>-->
        </div>
        
        <div class="basic-info">
            <h1> Neutronest <span></span></h1>
            <p>Vivimus in somnus. Solitari putris in inferos.</p>
            <p>Initio erraveramus. Dum vivimus doloris. </p>
            <p>Ventie, Venite, Mea supulchrum veniteeee..</p>
            <p> Machine Learning &amp; Functional Programming </p>
            <p>AI and Law  </p>
            <p> Rust, Python, Haskell </p>
        </div>
    </div>
</body>
</html>
