<!DOCTYPE html>
<!-- modified from pluskid's blog -->
<!-- thanks pluskid.. -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= config.title %></title>
    <meta name="author" content="<%=config.author %> ">
    <link rel="alternative" href="http://www.neutronest.moe/rss.xml" type="application/rss+xml" title="<%= config.title %> - RSS">    
    <!-- Mobile Specific Metas
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Google webfonts is almost not accessible from China, so we host locally -->
    <link href="./css/fonts.css" type="text/css" rel="stylesheet" media="all">
    <!-- CSS
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="<%= config.root %>css/normalize.css">
    <link rel="stylesheet" href="<%= config.root %>css/skeleton.css">

    <link href="<%= config.root %>css/pygments.css" type="text/css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="<%= config.root %>css/customize.css">

    
</head>


