<body>
    <div class="page-header container">
        <ul class="nav-left">
            <li class="home"><a href="<%= config.root  %>about.html">λ neutronest . </a></li>
            <li class="desktop-only"><a href="<%= config.root %>">( λ blogs. </a></li>
            <li class="desktop-only"><a href="<%= config.root %>categories/tech/">Tech Blogs</a></li>
            <li class="desktop-only"><a href="<%= config.root %>categories/article">Articles )</a></li>
            <li class="desktop-only"><a href="<%= config.root %>archives">Archives</a></li>
            <li class="desktop-only"><a href="<%= config.resume_url %>">Resume</a></li>
            <li class="desktop-only"><a href="<%= config.root %>about.html"> → Home</a></li>
        </ul>

        <ul class="nav-right">
            <li><a href="<%= config.github_url %>">Github</a></li>
            <li><a href="<%= config.linkedin_url%>">Linkedin</a></li>
            <li><a href="<%= config.root %>atom.xml">RSS</a></li>
        </ul>

        <p class="tagline"> WIR MÜSSEN WISSEN,WIR werden WISSEN. </p>
    </div>
