<!-- section: index  -->

<div class="container">
    <div class="separator"></div>
    <div class="top_words">
        <p>欢迎来到 Free Mind ，这是由 pluskid 所维护的 blog ，主要记录一些机器学习、程序设计以及各种技术和非技术的相关内容。如非特别指明，本站的文章遵循 <a href="http://creativecommons.org/licenses/by-sa/3.0/">Attribution-ShareAlike Creative Commons 协议</a>。更多文章索引请浏览 <a href="http://freemind.pluskid.org/archive">Archive</a>, <a href="http://freemind.pluskid.org/category">Categories</a>, 和 <a href="http://freemind.pluskid.org/tags">Tags</a>。
            部分文章前后有一定的关联，也可在 <a href="http://freemind.pluskid.org/series">Series</a> 中找到索引。早期的博客文章请参见 <a href="http://blog.pluskid.org/">Free Mind 2009~2012</a> 和 <a href="http://lifegoo.pluskid.org/">Free Mind 2007~2009</a>。
        </p>
    </div>
</div>

<% page.posts.each(function(post){  %>
    <div class="post-container">
        <div class="post-content">
            <div class="post-header">
                <h2 class="title">
                    <a href="<%- config.root%><%- post.path %>"><%- post.title %></a>
                </h2>
                <span>
                    <%- partial('post/meta', {post: post}) %>
                </span>
                <p align="left">
                    <% if (post.description){ %>
                        <%- post.description %>
                    <% } else { %>
                        
                        <%= post.content.replace(/<(?:.|\n)*?>/gm, '').substring(0, 400) %>
                        
                    <% } %>
                </p>

                <% if (theme.excerpt_link) { %>
                    <div class="read-more">
                        <a href="<%- config.root %><%- post.path %>" class="btn">— read more —</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="separator"></div>
<% });  %>
<!-- end of section: index -->
